# The CODEOWNERS file is used to define individuals or teams that are responsible for code in a repository.
# Each of these groups of CODEOWNERS have approval and merge authority over the noted directories.
#
# Order is important; the last matching pattern takes precedence.
#
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

#####################
# Main global owner #
#####################
*
