########################
# Any crt/keys/license #
########################
*.crt
*.key
*~
\#*

##########################
# Backup/temporary files #
##########################
*~
\#*

##################
# MacOS specific #
##################
Thumbs.db
.DS_Store

########################
# Code editor specific #
########################
.idea
.vscode

########
# Logs #
########
*.log
